*{
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    margin:0;
    padding: 0;
    background-image: url("image.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height:100vh;
}

h1{
    background-color: #081b31;
    color:white;
    height:5rem;
    line-height: 5rem;
    
}


.choice{
    height:90px;
    width:90px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0 10px;
}

.choice:hover{
    cursor: pointer;
    background-color: #115098;
}

img{
    height:100px;
    width:100px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap:5rem;
    color:#fff;
}

#user-score, #Comp-score{
    font-size: 4rem;
    color:#fff;
}

.msg-container{
     margin-top: 5rem;
     padding: 10px;
}

#msg {
    background-color: #3e07f0;
    color: #ffff;
    font-size: 2rem;
    display: inline-block;
    text-align: center;
    word-wrap: break-word;
    padding: 10px 15px;
    border-radius:10px;
    max-width: 90%;
}

/* Mobile */
@media (max-width: 480px) {

  .choices {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
  }

  .choice {
    width: 90px;
    height: 90px;
  }

  h1 {
    font-size: 2rem;
  }

  .msg {
    font-size: 18px;
    padding: 10px 20px;
  }
}
